.App {
min-height: 100vh;
background: linear-gradient(50deg, #00dbde, #fc00ff);
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
}



.tweet{
  /* border: 2px solid black; */
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 55px;
}

.blue {
  color: blue;
  font-size: 55px;
}